  .kotak01 {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    position: relative;
    top: 100px;
  }
  
  img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  } 

  img:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }

  .side {
    padding: 25px;
    font-size: 30px;
    position: relative;
    text-align: center;
    right: 25px;
    top: 20px;
  }
  
  .kotak01 .panjang{
    width: 400px;
    height: 400px;
    display: flex;
    padding: 10px;
    border-radius: 12px;
  }
  
  .kotak01 .blue {
    background-color: rgba(0,0,0,0.4);  
    backdrop-filter: blur(5px);
  }
  
  .kotak01 .red {
    background-color: rgba(0,0,0,0.4);  
    backdrop-filter: blur(5px);
  }
  
  .kotak01 .purple {
   background-color: rgba(0,0,0,0.4);  
   backdrop-filter: blur(5px);
  }
  
  .kotak01 .panjang {
    height: 200px;
  }
  
  .kotak01 .panjang button {
    padding: 10px 20px;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border-radius: 12px;
    color: white;
    background-color: black;
    position: relative;
    right: 50px;
  }